<div class="footer">
    <div class="company_name">Blog</div>
    <div class="copyrights">Copyright © 2023 - All right reserved</div>
    <div class="footer_content">
        <div class="footer_panel">
            <div class="footer_panel_name">company</div>
            <a class="footer-link" href='/'>Home</a>
            <a class="footer-link" href='/about'>About</a>
            <a class="footer-link" href='/contact'>Contact Us</a>
        </div>
        <div class="footer_panel">
            <div class="footer_panel_name">social</div>
            <div class="icons">
                <a href="https://github.com/SosnovGennadiy2006/Blog" class="footer_icon github"></a>
                <a href="https://vk.com/id477331182" class="footer_icon vk"></a>
            </div>
        </div>
    </div>
</div>