.main_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    height: auto;
    flex-grow: 100;
}

.article_wrapper
{
    max-width: 1000px;
    width: 100%;
    height: auto;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

.article_name
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 54px;
}

.line
{
    margin: 10px 0;
}

.author_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: grey;
    font-size: 24px;
}

.author_avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--dark-grey);
    margin: 0 8px;
}

.author_name {
    color: var(--dark-grey);
    font-weight: 600;
}

.article_body
{
    width: 100%;
    height: auto;
    flex-grow: 100;
}

.created_wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    font-size: 24px;
}

.created_date {
    color: var(--dark-grey);
    font-weight: 600;
    margin-left: 10px;
}

.author_link
{
    text-decoration: none; 
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}