{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Create article</title>
    <link rel="shortcut icon" href="/media/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/forms.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="form-box">
            <span class="box-name">Create new article</span>
            <div class="author_block">
                <span>Author:</span>
                <img class="author_avatar" src='/media/{{user.profile.avatar}}'>
                <span class="author_name">{{user.username}}</span>
            </div>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.media}}
                {% for field in form %}
                    <div class="field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}

                <input class="submit_btn" type="submit" value="Create">
            </form>
        </div>
    </div>
</body>

</html>